# Shopify app credentials/config
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://preorder.seudominio.com.br
SCOPES=read_products,write_products,read_orders,write_orders,read_inventory,write_inventory,read_draft_orders,write_draft_orders

# Docker/PostgreSQL
POSTGRES_DB=shopify_preorder
POSTGRES_USER=shopify_preorder
POSTGRES_PASSWORD=troque-esta-senha
APP_PORT=3000
